div {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    width: 150px;
    height: 50px;
    display: flex;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    margin-left: 5px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  table{
    margin-top: 10px;
    width: 600px;
    height: 150px;
    border: 1px solid #dddddd;
    display: flex;
  }

 